# Data Science Tools and Ecosystem

In this notebook Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Commonly used libraries
- Basic Arethmetic

Some of the popular language that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|---|
|Jupyter Notebooks|
|RStudio|
|Jupyter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

min = 200
hr = min/60
print(min, ' minutes is equal to ', hr, ' hours.')

200  minutes is equal to  3.3333333333333335  hours.

## Author
Rohit Shahi